<html>
  <head>
    <meta charset='utf-8' />
    <style>
body {
  background-color: black;
  color: white;
}
    </style>
  </head>
  <body>
    <%= yield %>

    <!-- slow -->
    <%#= partial 'shared/hello' %>

    <!-- 35% faster -->
    <%= html.hello %>
  </body>
</html>
