<html>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="/public/app.css">

    <%= html.css_include_tag(:app) %>
    <%= html.js_include_tag(:app) %>
  </head>
  <body>
    <img src='/public/images/roda-project.png' />
    <br>
    <%= html.navbar %>

    <%= yield %>
  </body>
</html>
