<h1>info</h1>

<!-- this is slow -->
<%# @foods.each do |food| %>
  <%#= food[:name] %>,
  <%#= food[:protein] %>,
  <%#= food[:calories] %>,
  <%#= food[:fat] %>,
  <%#= food[:carbohydrate] %>,
  <%#= food[:fiber] %>,
<%# end %>

<!-- this is 30% faster -->
<%= html.foods_list(@foods) %>
