<h1>info</h1>

<!-- slow -->
<%# @foods.each do |food| %>
  <%#= food[:name] %>,
  <%#= food[:protein] %>,
  <%#= food[:calories] %>,
  <%#= food[:fat] %>,
  <%#= food[:carbohydrate] %>,
  <%#= food[:fiber] %>,
<%# end %>

<!-- 30% faster -->
<%= html.foods.list(@foods) %>
